.task-tline{
  cursor: default;
  
  &-con {
    fill: none;
    stroke: #ffffff00;
    stroke-width: 25px;
  }

  &-con-wrap {
    fill: none;
    stroke: rgba(57,202,116,.8);
    stroke-width: 1px;
  }

  &-dotted{
    stroke: rgba(90, 139, 218, 0.8);
    stroke-width: 2px;
    stroke-dasharray: 5;
    -webkit-animation: ant-line 30s infinite linear;
    animation: ant-line 30s infinite linear;
  }

  &.active>&-con-wrap{
    stroke: red;
  }

  &.active>&-dotted{
    stroke: red;
  }
}

.vdr {
  box-sizing: border-box;
  display: flex;
  align-content: center;
  align-items: center;
  border: none;
  .vdr-content-wrap{
    position: absolute;
    background-color: whitesmoke;
    left: 3px;
    right: 4px;
    top: 3px;
    bottom: 3px;
    z-index: -200;
  }
  .shape-elipse{
    border-radius: 30px;
    &:before{
      content: "";
      position: absolute;
      left: 5px;
      right: 5px;
      top:5px;
      bottom: 5px;
      background-color: rgb(184, 185, 248);
      border-radius: 30px;
    }
  }
  .shape-rect{
    &:before{
      content: "";
      position: absolute;
      left: 5px;
      right: 5px;
      top:5px;
      bottom: 5px;
      background-color: rgb(164, 236, 203);
    }
  }
  .shape-diamond{
    clip-path: polygon(
      0% 50%,
      15% 0%,
      85% 0%,
      100% 50%,
      85% 100%,
      15% 100%);
    &:before{
      content: "";
      position: absolute;
      left: 5px;
      right: 5px;
      top:5px;
      bottom: 5px;
      background-color: rgb(195, 240, 129);
      clip-path: polygon(
        0% 50%,
        15% 0%,
        85% 0%,
        100% 50%,
        85% 100%,
        15% 100%);
    }
  }

}

.vdr.active{
  border: 1px dashed #d6d6d6;
}

.vdr-stick {
  box-sizing:border-box;
  position: absolute;
  margin: 4px;
  font-size: 1px;
  background: #ffffff;
  border: 1px solid #6c6c6c;
  box-shadow: 0 0 2px #bbb;
}

.linkdot{
  width: 5px;
  height: 5px;
  background-color: gray;
}

.vdr-stick-tl, .vdr-stick-br {
  cursor: nwse-resize;
}

.vdr-stick-tm, .vdr-stick-bm {
  left: 50%;
  cursor: ns-resize;
}

.vdr-stick-tr, .vdr-stick-bl {
  cursor: nesw-resize;
}

.vdr-stick-ml, .vdr-stick-mr {
  top: 50%;
  cursor: ew-resize;
}

.vdr-stick.not-resizable{
  display: none;
}