.task-tline{
  cursor: default;
  
  &-con {
    fill: none;
    stroke: hsla(0,0%,100%,0);
    stroke-width: 15px;
  }

  &-con-wrap {
    fill: none;
    stroke: gray;
    stroke-width: 1px;
  }

  &-dotted{
    stroke: rgba(57,202,116,.8);
    stroke-width: 2px;
    stroke-dasharray: 5;
    -webkit-animation: ant-line 30s infinite linear;
    animation: ant-line 30s infinite linear;
  }

  &.active>&-con-wrap{
    stroke: red;
  }

  &.active>&-dotted{
    stroke: red;
  }
}

.vdr {
  box-sizing: border-box;
  display: flex;
  align-content: center;
  align-items: center;
  border: none;
}

.vdr.active{
  border: 1px solid #d6d6d6;
}

.vdr-stick {
  box-sizing:border-box;
  position: absolute;
  margin: 4px;
  font-size: 1px;
  background: #ffffff;
  border: 1px solid #6c6c6c;
  box-shadow: 0 0 2px #bbb;
}

.vdr-stick-tl, .vdr-stick-br {
  cursor: nwse-resize;
}

.vdr-stick-tm, .vdr-stick-bm {
  left: 50%;
  cursor: ns-resize;
}

.vdr-stick-tr, .vdr-stick-bl {
  cursor: nesw-resize;
}

.vdr-stick-ml, .vdr-stick-mr {
  top: 50%;
  cursor: ew-resize;
}

.vdr-stick.not-resizable{
  display: none;
}